.userList {
    display: flex;
    justify-content: center;
}

.userList__box {
    width: 50%;
    border-radius: 1rem;
    background-color: white;
}

.userList__border {
    margin: 1rem;
}

.userList__border p{
    border: 1px solid black;
    padding: 0.2rem;
}